/*
=================
Table of Contents
=================

# Nav Section
# Slider Section
# Contact Section

*/

/*  
	===========================
	# Nav Section
	===========================
*/



#page-wrap
{

	text-align: left; 
	margin: 0 auto;
	

}
.navbar-brand > img {
    display: inline;
    width: 100px;
}

@media screen and (max-width: 386px){
	.navbar-brand > img{
		display: none;
	}
}

@media screen and (max-width: 767px){
	.navbar-brand > img{
		width: 60px;
	}
}

@media screen and (min-width: 320px) and (max-width: 421px){
	.navbar-custom .navbar-brand {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px){
	.navbar-custom .navbar-brand {
		font-size: 20px;
	}
}


a.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*  
	===========================
	# Slider Section
	===========================
*/
.sy-box {
    margin-top: 52px;

}

@media screen and (min-width: 768px){
	.sy-box {

	margin-top: 100px;
	}
}

/*  
	===========================
	# Contact Section
	===========================
*/
#map{
	width: 100%;
	height: 400px;
}

#contact h3 {

	text-align: center;
}

#contact p {
    text-align: left;
}

#phone p{

	text-align: center;
}




 .div .logo {


	float : center;
	width: 100px ;
	height: 100px; 
	background: url('../img/sgb_logo.png');

}

.parent {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
     
	


}

.parent p{

	margin: 0px ;
	padding-left: 10px;



}

#sphiere a {

	-webkit-filter: grayscale(1);

	        filter: grayscale(1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;


}

#sphiere a:hover {

	-webkit-filter: none;

	        filter: none;
}

#credits {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

}


.img-slider {


	border:5px solid; 
}

.container h2{

	margin: 0; 
	font-size:3em;
}


.icon-success glyphicon glyphicon-chevron-right{


color: #18BC9C;
font-size: 250% ;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;

}

.icon-success glyphicon glyphicon-chevron-left {

color: #18BC9C;
font-size: 250% ;
padding-bottom: 10px;
}


@media screen and (min-width: 320px){
.row p  {

font-size: 15px ;


}
}

@media screen and  (min-width: 544px){
.row p {

font-size: 15px ;


}
}


@media screen and (min-width: 768px){
.row p {

font-size: 15px ;


}
}

@media screen and (min-width: 992px){
.row p {

font-size: 18px ;


}
}

@media screen and (min-width: 1200px){
.row p {

font-size: 18px ;


}
}

#img-slider 
{

	background-color: #BDE5B8;
}

#portfolio
{

	background-color: #D3E8E1;
}

#section.contact	{


	background-color: #167c80;
}




@media screen and (min-width: 1200px) {


	.center-block {

		min-width: 100%; 
	}
}

@media screen and (min-width: 992px) {

	.center-block {

		min-width: 100%; 
	}
}



@media screen and (min-width: 768px) {

	.center-block {

max-width: 50%; 
	}
}

@media screen and (min-width: 544px ){

.center-block {

	max-width: 50%; 
}

}

@media screen and (min-width: 320px) {


	.center-block{

		max-width: 50%; 
	}
}
/* logo slider css */

.portfolio-item a{


position: relative;
display: inline-block;
}


.portfolio-item a:before {


pointer-events: none;
	position: absolute;
	content: '';
	bottom: -30px;
	left: 5%;
	height: 10px;
	width: 90%;
	filter: alpha(opacity=0);
	opacity: 0;
  	background: -webkit-radial-gradient(center ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  	background: -o-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
}

.portfolio-item a:hover:before,
.portfolio-item a:focus:before, 
.portfolio-item a:active:before 	{

	filter: alpha(opacity=100);
	opacity: 1;



}

.portfolio-item img {

	-webkit-transition-duration : 0.3s;
	transition-duration : 0.3s;
	-webkit-transition-property: transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}


.portfolio-item a:hover img,
.portfolio-item a:focus img,
.portfolio-item a:active img {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);

}


.collapsed 

{

	font-family:muli bold;
}
