#map-canvas {
  max-width: 100%;
  height: 600px;
  padding: 0px;
}

#map-canvas img {
  /* Prevent streetview buddy from getting squished by img max-width: 100% */
  max-width: none; 
}

#infowindow-content ul {
  list-style: none;
  padding: 0;
}

#infowindow-content ul li {
  padding-bottom: 3px;
}

#contact{
  background: url(img/map_1343x400.jpg);
  background-size: cover;
}

#menu {
bottom: 500px;
left: 100px;
color: #fff;
/*background-color: #24252f;*/
background: rgba(0,0,0,0.5);
	
}

#top-footer{
	/*background-color: #24252f;*/
  background: none;
}

#credits	{

	color: #fff;
	background-color: #242935;
}